/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;600&display=swap');
body {
	margin: 0 auto;
	font-family: 'Poppins', sans-serif;
}

.container {
	max-width: 1200px;
}

li {
	list-style: none;
}

ul {
	padding: 0;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

.flex-end {
	justify-content: flex-end;
}

.pl-0 {
	padding-left: 0 !important;
}

.pt-60 {
	padding-top: 60px;
}

.pd-0 {
	padding: 0;
}

.align-left {
	text-align: left;
}

.pb-0 {
	padding-bottom: 0 !important;
}

.pb-37 {
	padding-bottom: 37px;
}

.pt-8 {
	padding-top: 8px;
}

.m-0 {
	margin: 0;
}

.pb-87 {
	padding-bottom: 87px !important;
}

.pt-3 {
	padding-top: 3px !important;
}

.pd-13-25 {
	padding: 13px 25px !important;
}

.pb-80 {
	padding-bottom: 80px !important;
}

.pd-37 {
	padding: 30px 0px !important;
}

.mt-15 {
	margin-top: 15px;
}

h4 {
	font-size: 20px;
}

.mr-0 {
	margin-right: 0;
}

.lts-5 {
	letter-spacing: 5px;
}

.carousel img {
	width: 30%;
}

.lts-4 {
	letter-spacing: 3px;
}

.color-light-black {
	color: #0C2242;
}

.bg-gry {
	background-color: #e6e8e8;
}

.dots img {
	width: 44%;
}

.bg-yellow {
	background-color: #FED45C;
}

.bg-grey {
	background-color: #F1F1F1C4;
}

.color-red {
	color: #EB6874;
}

header button {
	box-shadow: 5px 5px 6px #00000021;
}

.wd-34 {
	width: 34%;
}

.wd-40 {
	width: 40%;
}

.color-white {
	color: #fff;
}

.upper-case {
	text-transform: uppercase;
}

.center-text {
	text-align: center;
}

.small-p p {
	font-size: 11px;
	letter-spacing: 2px;
	color: #474646;
	margin: 0;
}

.circle-border {
	border: 1px solid #7070701A;
	border-radius: 50px;
}

.color-yellow {
	color: #FED45C;
}

.bg-blue,
header {
	background-color: #0C2242;
}


.color-grey {
	color: #F2F2F2E0;
}

.bold {
	font-weight: bold;
}

.pt-69 {
	padding-top: 69px;
}

.bg-pink {
	background-color: #E8DDDA;
}

.color-pink {
	color: #EB6874;
}

.font-35-left {
	text-align: left;
	font-size: 35px;
}

.meet-hunter-li {
	display: flex;
	flex-direction: column;
	align-items: end;
}

.meet-hunter-li li {
	padding: 10px;
}

.inner-container {
	margin: 0 auto;
	width: 900px;
}

.flex-colum {
	flex-direction: column;
}

.font-14 {
	font-size: 14px;
}


/* GENERAL */


/* HEADER */

.top-menu li {
	padding: 10px;
}

.top-menu ul {
	justify-content: center;
	align-items: center;
}

.logo img {
	width: 60%;
	height: auto;
}

header {
	background-image: url(../images/banner-illustration.svg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}

.header-bottom {
	padding: 60px 0px 245px 0;
}

.header-top {
	padding-top: 20px;
}

.top-menu li a {
	font-size: 15px;
	color: #000000;
	font-weight: 200;
}

.slider-content-li li,
.meet-hunter-li li {
	background-image: url(../icons/tick-icon.svg);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 30px;
	line-height: 3;
}

.top-menu li {
	padding-right: 20px;
}

.top-menu li:last-child {
	padding-right: 0;
}

.font-600,
.text-dark.font-600 {
	font-weight: 600;
}

span.sperater {
	border-top: 4.5px solid black !important;
	font-size: 0;
	width: 19%;
	padding: 0px 20px;
}

span.sperater-grey {
	border-top: 4.5px solid #b1bbc4 !important;
	font-size: 0;
	width: 19%;
	padding: 0px 20px;
}

span.sperater-grey-small {
	border-top: 3px solid #b1bbc4 !important;
	font-size: 0;
	width: 19%;
	padding: 0px 20px;
}

.hunter-img img {
	width: 80%;
}

.pd-100 {
	padding: 100px 0;
}
.hunter-name{
	position: absolute;
    top: -40px;
    left: 34%;
}
.box-left img{
	width: 83%;
    height: 83%;
}
.box-left {
	display: flex;
	justify-content: center;
	align-items: center;
}
.box-right{
	text-align: left;
	font-size: 12px;
	line-height: 1.5;
}
.box-right ul{
	width: 180px;
}
.box-right li{
	line-height: 2;
}
.box-right h5{
	color: #0C2242 !important;
	font-size: 13px;
	letter-spacing: 1px;
	text-align: left;
	display: flex;
	font-weight: 600;
}
.info{
	text-align: left;
}
.info li{
	line-height: 2;
}
.hunter-select-box input[type="submit"] {
    background-color: #EB6874;
    opacity: 1;
    border: 0;
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    width: 100%;
    padding: 14px;
    border-radius: 14px;
}


/* HEADER */


/* Body */

li.first-li {
	position: absolute;
	left: 53px;
	border: 0 !important;
	background-color: transparent;
}

li.last-li {
	position: absolute;
	right: 48px;
	border: 0 !important;
}

.our-partners {
	background-color: #0C2242;
}

.carousel li {
	display: inline-block;
	border: 1px solid #fff;
	margin-right: 13px;
	padding: 7px 25px;
	border-radius: 6px;
	justify-content: center;
	display: flex;
}

.carousel li img {
	width: 80%;
}

.our-work {
	background-image: url("../images/work-bg.svg");
}

.work-paragraph {
	font-size: 19px;
	letter-spacing: 2px;
	margin-bottom: 50px;
}

.copy-right p {
	border-top: 1px solid #FFFFFF8C;
	margin-top: 20px;
	padding-top: 18px;
	color: #FFFFFF8C;
	font-size: 11px;
}

.mr-10-negative {
	margin-bottom: -10px;
}

.text-block p {
	width: 74%;
}

.work-dedicated {
	font-size: 15px;
	font-weight: 100;
	letter-spacing: 2px;
}

.cards-parent .card {
	width: 26%;
	margin-right: 2%;
	background: #0C2242 0% 0% no-repeat padding-box;
	box-shadow: 5px 5px 20px #00000075;
	border: 1px solid #FFFFFF5C;
	border-radius: 32px;
	opacity: 1;
	display: flex;
	align-items: center;
	height: 376px;
}
.dedicated-insurance .pt-69 {
    padding-top: 119px;
}
.dedicated-insurance .cards-parent {
    background-image: url(../images/cards-parent-bg.png);
    background-repeat: no-repeat;
    background-position: 70px 30px;
    background-size: 340px;
	margin-top: -101px;
}
.home-box h5 {
	color: #474646;
	font-size: 17px;
	margin-bottom: 13px;
}

.card p {
	text-align: center;
	font: normal normal 300 13px/20px Poppins;
	letter-spacing: 0.97px;
	color: #FFFFFF;
	opacity: 1;
	padding: 0px 20px;
}

.card h5 {
	text-align: center;
	font: normal normal medium 20px/60px Poppins;
	letter-spacing: 4px;
	color: #FFFFFF;
	opacity: 1;
}

.card-bottom {
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border-radius: 0px 0px 30px 30px;
	opacity: 1;
	padding: 26px 0;
	width: 100%;
}

.card-img-top {
	width: 176px;
	height: 176px;
}

.card-body {
	padding: 0.25rem;
}

.card-bottom.active {
	background: #EB6874 0% 0% no-repeat padding-box;
	border-radius: 0px 0px 30px 30px;
	opacity: 1;
}

.card-bottom a {
	color: #0C2242;
}

.card-bottom.active a {
	color: #fff;
}

.cards-parent {
	background-image: url(../images/cards-parent-bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 340px;
}

.card-section-bottom {
	background-image: url(../images/card-bottom-bg.svg);
	background-repeat: no-repeat;
	background-position: right bottom;
	padding: 20px;
	padding-bottom: 40px;
	background-size: 910px;
}

.meet-hunter-li li {
	line-height: 1;
}

.testimonials-card h5 {
	margin: 0;
	font-size: 11px;
	padding: 10px 0;
}

.testimonials-card .card-img-top {
	width: 24%;
	height: auto;
}

.testimonials-card.card {
	height: auto;
	border-radius: 10px;
	background-color: #fff;
	padding: 20px 0;
	background-image: url(/images/card-bg.svg);
}

.testimonials-card p {
	color: #474646;
}

.testimonials-card h5 {
	color: #0C2242;
}

.testimonail-parent {
	background-image: url(../images/background-sheild-testimonials-section@2x.png);
}

.card-section-bottom.testimonials-section {
	background-image: url(../images/testimonal-bottom-bg.svg);
}

footer a {
	font-size: 13px;
	color: #FFFFFFDE;
}

footer {
	padding: 50px;
}

footer p {
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
}

.quote-form input {
	width: 83%;
}

.inner-container .flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.section {
	background-image: url(../images/section-bg.png);
	background-repeat: no-repeat;
	background-position: center 488px;
	background-size: 792px;
}


/* Body */


/* COLOR */


/* COLOR */


/* HOW IT WORKS */

.header-bottom.how-it-works-heaader {
	padding: 0;
}

.works-header {
	background-image: url();
}


/* HOW IT WORKS */

.our-work .col-4 {
	max-width: 29.333333%;
}

.card.form-card {
	background: #F2ECEA 0% 0% no-repeat padding-box;
	box-shadow: 5px 5px 10px #00000029;
	border: 1px solid #7070702E;
	border-radius: 20px;
	opacity: 1;
	width: 77%;
	padding: 30px;
	border: none;
	padding-bottom: 16px;
}

.quote-form input,
.quote-form select {
	text-align: left;
	font: normal normal 300 10px/13px Poppins;
	letter-spacing: 0.5px;
	color: #9C9C9C;
	opacity: 1;
	padding: 20px 20px;
	margin-bottom: 20px;
	width: 99%;
	border: 1px solid #707070;
	border-radius: 20px;
	opacity: 0.17;
	background: #F2ECEA 0% 0% no-repeat padding-box;
}

.field label {
	position: absolute;
	top: -9px;
	left: 42px;
	color: #EB6874;
	font-weight: 700;
}

.field {
	position: relative;
}

.quote-form input[type="submit"] {
	background-color: #EB6874;
	opacity: 1;
	border: 0;
	color: #fff;
	text-align: center;
	font-size: 15px;
	font-weight: 700;
}

.header-inner {
	background-image: url(../images/quote-bg.svg);
	padding-bottom: 260px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.field select {
	background-image: url(../images/dropdown-icon.svg);
	background-position: 346px center;
	background-repeat: no-repeat;
	background-size: 20px;
	-webkit-appearance: none;
}

.mobile-partner-slider {
	display: none !important;
}

footer {
	padding-bottom: 10px !important;
}

.mobile-logo {
	display: none;
}

.mobile-menu {
	display: none;
}

.hunter-mobile-img {
	background-image: none;
}

.mobile-h4 {
	display: none;
}

.desktop-h4 {
	display: block;
}

/* ADVISOR-PAGE */

.advisor-page header{
	background-image: none;
}
.advisor-page .header-bottom{
	padding: 0;
}
.flex-column{
	flex-direction: column;
}
.hunter-top-text p{
	font-size: 19px;
    color: #474646bf;
}
.hunter-bottom-text p{
	font-size: 19px;
    color: #fff;
	font-weight: 300;
	text-align: center;
font: normal normal 300 20px/30px Poppins;
letter-spacing: 2px;
color: #FFFFFF;
opacity: 1;
padding: 10px;
}
.advisor-page .header-bottom::before{
	border-radius: 50%;
}
.news-letter{
	display: flex;
    align-items: center;
    justify-content: center;
}
.news-letter select{
	width: 24%;
	padding: 16px;
    border: 0;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    
    border-radius: 7px 0px 0px 7px;
background-image: url(../images/drop-down-arrow.png);
    opacity: 1;
	

}
.advisor-page .our-partners{
	padding: 140px 0 100px 10px !important;
    background-image: url(../images/background-sheild-find-your-dedicated-hunter.png);
    background-repeat: no-repeat;
    background-position: 340px 84px;
}

.insurance-bg .v-shape:before{
	content: '';
    position: absolute;
    top: 58%;
    padding: 19px;
    left: -2%;
    /* margin-left: -50px; */
    width: 100%;
    border-top: solid 90px #e8ddda;
    border-left: solid 663px transparent;
    border-right: solid 661px transparent;
}

.advisor-page .vshape:before{
	content: '';
    position: absolute;
    top: 58%;
    padding: 19px;
    left: -2%;
    /* margin-left: -50px; */
    width: 100%;
    border-top: solid 90px #e8ddda;
    border-left: solid 663px transparent;
    border-right: solid 661px transparent;
}
.news-letter input[type="submit"]{
	background-color: #EB6874;
    padding: 11px;
    width: 6%;
	color: #fff;
	background: #EB6874 0% 0% no-repeat padding-box;
border-radius: 0px 7px 7px 0px;
opacity: 1;
border: 0;
text-align: center !important;
text-align: left;
font: normal normal bold 20px/30px Poppins;
letter-spacing: 4.6px;
color: #FFFFFF;
opacity: 1;

}
.news-letter select{
	text-align: left;
font: normal normal normal 20px/30px Poppins;
letter-spacing: 4.6px;
font-size: 12px;
color: #bbc2cb;

}
.color-black{
	color: #000000 !important;
}
.advisor-cards .card-body p{
	color: #474646;
}
.advisor-cards .card-body h5{
	text-align: center;
font: normal normal 600 24px/36px Poppins;
letter-spacing: 0px;
color: #0C2242;
opacity: 1;

font-size: 15px;
margin-bottom: 0px;
}
.advisor-cards li{
	width: 32%;
	margin-top: 2%;
}
.advisor-cards .card{
	display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    border-radius: 11px;
	width: 95% !important;

}
.advisor-cards .card img{
	width: 89%;    
    height: auto;	
}
.advisor-cards li:nth-child(n+3n) .card{
	margin-right: 0;
}
.advisor-cards ul{
	flex-wrap: wrap;
}
.advisor-page .our-work{
	background-color: #F1EBE9;
	background-image: none;
}
.advisor-page .our-work .section{
	background-image: none;
}
.card-img-overlay{
	position: static;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 30px 20px !important;
	background-color: #fff;

	background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 25px;
opacity: 0.77;
}


.card-img-overlay h5{
	width: 100%;
    font-size: 16px;
    text-align: left;
    padding-left: 20px;
    color: #EB6874 !important;
    letter-spacing: 1px;
}
.card-img-overlay p{
	width: 100%;
    text-align: left;
	color: #9C9C9C;
}
.faqs-section-parent{
	padding: 30px 0;
	background-image: url(../images/background-shield-FAQs.png);  
    background-repeat: no-repeat;
    background-position: 154px 40px;
    background-size: 240px;

}
.faqs-section-parent{
	padding: 70px 0;
}
.faqs-section .card{
	border-radius: 15px;
}
.faqs-section h5.card-title{
	font-weight: 600;
}
.faqs-section p.card-text{
	font-size: 15px;
	line-height: 1.7;
}
.faqs-section{
	margin: 0 auto;
    width: 77%;
	padding: 30px 0;
}
.faqs-section li{
    margin: 17px 0;
	padding: 10px 40px;
	color:#0C2242;
	background: #F6F2F1 0% 0% no-repeat padding-box;
	border: 1px solid #0000001C;
	border-radius: 10px;
	opacity: 1;
}
.faqs-section-parent{
	background-color: #F6F1F0;
}
.faqs-heading .col-4{
	display: flex;
    align-items: center;
    justify-content: center;
}
.faqs-heading .col-8 h3{
	font-size: 18px;
    letter-spacing: 6px;
    font-weight: 600;
    margin-bottom: 0;
    margin-right: -6px;
}
.faqs-heading .col-4 button{
	width: 54%;
    margin-right: 58px;
    box-shadow: 5px 5px 10px #00000021;
}
.faqs-heading .col-4 button a{
	font-size: 12px;
    width: 30%;
}
.faqs-section{
	background-image: url(../images/myhunter-letters-FAQs.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 650px;
}
.faqs-section .card-img-overlay .card-title{
	background-image: url(../images/up-arrow-icon.svg);
    background-repeat: no-repeat;
    background-position: right;
}
.faqs-section  li{
	background-image: url(../images/down-arrow-bottom.svg);
    background-repeat: no-repeat;
	background-position: 862px center;
}
.advisor-bottom-section .col-12{
	position: absolute;
    bottom: 0;
    z-index: 1;
    top: 25%;
	text-align: center;
}
.advisor-bottom-section{
	position: relative;
	padding: 0;
}
.bottom-left,.bottom-right{
	padding-bottom: 550px;
    padding-top: 80px;
}
.bottom-left{
	background-color: #F1EBE9;
}
.bottom-right{
	background-color: #EB6874;
}
.bottom-left h5{
	text-align: right;
	font: normal normal 600 24px/40px Poppins;
letter-spacing: 2.4px;
color: #EB6874;
opacity: 1;
margin-right: 40px;
}
.bottom-right h5{
	text-align: left;
font: normal normal 600 24px/40px Poppins;
letter-spacing: 2.4px;
color: #FFFFFF;
opacity: 1;
margin-left: 40px;
}
.advisor-bottom-section .col-12 img{
	width: 88%;
}
.button{
	margin-top: 30px;

}
.button a{
	padding: 10px 12px;
}
.plus-image img{
	width: auto !important;
}
.plus-image{
	position: absolute;
    top: 93px;
    z-index: 1;
    text-align: center;
    width: 100%;
}
/* ADVISOR-PAGE */

/* INDIVUAL-ADVISOR */
.indivual-header-slide{
	background-image: url(../images/banner-lisa-staffen-image.png);
    padding: 70px 0 200px 0;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
	position: relative;
	background-color: #E8DDDA;

    z-index: -1;

}
.slide-inside img{
	width: auto;
}
.slide-inside h2{
	text-align: left;
font: normal normal bold 40px/50px Poppins;
letter-spacing: 2px;
color: #EB6874;
opacity: 1;
}
.slide-inside p{
	text-align: left;
font: normal normal 300 20px/30px Poppins;
letter-spacing: 2px;
color: #474646;
opacity: 0.8;
}
.slide-inside a{
	text-align: left;
font: normal normal normal 18px/27px Poppins;
letter-spacing: 0px;
color: #474646;
opacity: 0.8;
}
.indivusal-image{
	width: 95%;
    position: absolute;
    text-align: center;
    bottom: 3px;

}
.indivusal-image img{
	width: auto;
}
.slide-inside ul{
	margin-left: 40px;
}
li.loaction-li{
	margin-bottom: 10px;
}
.advisor-li{
	margin: 11px;
}
li#adl-1{
	background-image: url(../images/phone-call-icon.svg);
	margin-left: 30px;
}
li#adl-2{
	background-image: url(../images/email-icon.svg);
	margin-left: 30px;
}
.slide-inside li{

    background-repeat: no-repeat;
    background-position: left;
    padding-left: 20px;
    background-size: 15px;

}
.hunter-intro-section{
	background-color: #E8DDDA;
	padding: 90px 0;

}
h4.intro{
	text-align: center;
font: normal normal 600 25px/38px Poppins;
letter-spacing: 7.5px;
color: #EB6874;
opacity: 1;
}
.hunter-intro-section p{
    text-align: center;
    font: normal normal 300 20px/30px Poppins;
    letter-spacing: 2px;
    color: #474646;
}
p.op-text{
	opacity: 0.8;
}
.review-section h5{
	font: normal normal 600 20px/31px Poppins;
    letter-spacing: 0px;
    color: #0C2242;
    opacity: 1;
}
/* INDIVUAL-ADVISOR */

/* OUR-INSURANCE */

.bg{
	background-image: url(../images/banner-insurance.svg);
}
.insurance-page .insurance-top {
	padding: 100px 0;
}
.hunter-insurance h4{
	text-align: left;
font: normal normal normal 25px/35px Poppins;
letter-spacing: 7.5px;
color: #EB6874;
opacity: 1;
}
ul.insurance-li{
	margin-top: 18px;
}
.insurance-img img{
	width: 90%;
}
.insurance-text{
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.hunter-insurance{
	background-image: url(../images/we-are-in-the-insurance-hunt-together-qoutation-mark.svg);
	background-repeat: no-repeat;
    background-position: 69px 20px;
}
.inner{
	margin: 0 auto;
    width: 1100px;
}
.hunter-map-text p{
	text-align: left;
font: normal normal 300 20px/30px Poppins;
letter-spacing: 2px;
color: #E8E8E8;
opacity: 0.8;
}
.hunter-map-text{
	margin: 20px 0;
}
.map-text h4{
	text-align: left;
font: normal normal 600 25px/40px Poppins;
letter-spacing: 7.5px;
color: #EB6874;
opacity: 1;
}
.map-inner{
	background-image: url(../images/cards-parent-bg.png);
    background-repeat: no-repeat;
    background-position: 462px -4px;
    background-size: 242px;
}
.hunter-map{
	background-image: url(../images/card-bottom-bg.svg);
	background-repeat: no-repeat;
    background-position: 528px 500px;
}
.hunter-clients{
	padding: 100px 0;
}
.h-490{
	height: 490px;

}
.small-card{
	background: #F2ECEA 0% 0% no-repeat padding-box;
box-shadow: 5px 5px 10px #00000029;
border-radius: 20px;
opacity: 1;
}
.appointment-right{
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.appointment-name{
	position: absolute;
    top: -24px;
	left: 0;
}
.card-left{
	margin-top: 30px;
	background-color: #F2ECEA;
    padding: 30px 30px;
	background: #F2ECEA 0% 0% no-repeat padding-box;
    box-shadow: 5px 5px 10px #00000029;
    border-radius: 20px;
    opacity: 1;
    border: 0;
	padding-bottom: 70px;

    padding-bottom: 86px;

}
.box-right-date{
	display: flex;
	justify-content: center;
	flex-direction: column;
	
}
.box-right-date a{
	color: #0C2242;
}
.inner-box{
	background: #F2ECEA 0% 0% no-repeat padding-box;
border: 1px solid #70707026;
border-radius: 27px;
opacity: 1;
padding: 10px 10px;
display: flex;
align-items: center;
}
.card-bt{
	padding: 13px;
    position: absolute;
	width: 90.2%;
    bottom: 71px;
	background: #EB6874 0% 0% no-repeat padding-box;
box-shadow: 5px 5px 10px #00000029;
border-radius: 0px 0px 20px 20px;
opacity: 1;

}
.small-p{
	text-align: left;
font: normal normal 300 10px/20px Poppins;
letter-spacing: 0.5px;
color: #474646;
font-size: 10px !important;
}
.date-text{
	text-align: left;
font: normal normal 300 15px/20px Poppins;
letter-spacing: 0.75px;
color: #474646;
font-size: 16px !important;
}
.appointment-field select{
	width: 90%;
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid #9C9C9C;
    text-align: left;
    font: normal normal 300 12px/13px Poppins;
    letter-spacing: 0.6px;
    color: #9C9C9C;
    opacity: 1;
    background-image: url(../images/drop-down-arrow.svg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 12px;
}
.appoint-card p{
	color: #474646;
	text-align: left;
}
.appointment-field select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.appoint-card{
	padding: 20px;
	background: #F2ECEA 0% 0% no-repeat padding-box;
box-shadow: 5px 5px 20px #00000029;
border: 1px solid #70707038;
border-radius: 20px;
opacity: 1;
}
.inner-box {
	padding: 20px 10px;
	width: 88%;
    margin: 0 auto;
}
.inner-box .box-right ul{
	margin-bottom: 0;
	
}
.inner-box .box-right h5{
	text-align: left;
	font-size: 12px;
}
.inner-box img{
	height: 67px;
    width: auto;
}
.start-date-parent .card-left{
	padding: 30px 0;
	margin-bottom: 41px;
	background: #F2ECEA 0% 0% no-repeat padding-box;
box-shadow: 5px 5px 10px #00000029;
border-radius: 20px;
opacity: 1;
}
.start-date-parent .card-name{
	padding: 0 10px;
    position: absolute;
    top: 19px;
    left: 20%;
    background-color: #F2ECEA;
}
.start-date-parent .card-name h4{
	margin: 0;
    text-align: center;
    font: normal normal 600 13px/20px Poppins;
    letter-spacing: 3.9px;
    color: #EB6874;
    text-transform: uppercase;
    opacity: 1;
}
.start-date-parent .btn-left{
	background: #F2ECEA 0% 0% no-repeat padding-box;
    text-align: center;
    border: 1px solid #70707045;
    opacity: 1;
    border-radius: 20px;
    padding: 15px;
	margin-right: 20px;
	margin-top: 30px;
}
.start-date-parent .btn-right{
	background: #EB6874 0% 0% no-repeat padding-box;
    box-shadow: 5px 5px 10px #00000029;
    border-radius: 20px;
    opacity: 1;
    text-align: center;
    display: flex;
    align-items: center;
	padding: 15px;
    justify-content: center;
	margin-top: 20px;

}
.start-date-parent .btn-left a{
	font: normal normal 600 15px/24px Poppins;
	letter-spacing: 3px;
	color: #474646;
	opacity: 1;
}
.start-date-parent .btn-right a{
	font: normal normal 600 15px/24px Poppins;
	letter-spacing: 3px;
	color: #FFFFFF;
	opacity: 1;
}
.date-btns{
	background: #F2ECEA 0% 0% no-repeat padding-box;
}
.date-btns .row{
	display: flex;
    align-items: center;
    justify-content: center;
	border-top: 1px solid #00000029;
	margin-top: 19px;
}
.start-date-parent .appoint-card{
	padding: 30px 40px;
    margin-top: 30px;
    background: #F2ECEA 0% 0% no-repeat padding-box;
    box-shadow: 5px 5px 20px #00000029;
    border: 0;
    border-radius: 20px;
    opacity: 1;
}
.inner-box .col-5{
	padding: 0;
}
.card-bt h4{
	margin: 0;
	font: normal normal 600 15px/24px Poppins;
    letter-spacing: 3px;
    color: #FFFFFF;
    opacity: 1;
}
.start-date-parent{
	margin-top: 30px;
}
.start-date-parent .appoint-card h4{
	text-align: left;
    font: normal normal 600 18px/49px Poppins;
    letter-spacing: 0.9px;
    background-image: url(../images/start-date-icon.svg);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 21px;
}
.date-text p{
	font: normal normal 300 15px/20px Poppins;
    letter-spacing: 0.75px;
    color: #474646;
    font-size: 16px !important;
}
.start-date-parent p.small-p{
	font-size: 11px !important;
}
.line{
	border-bottom: 2px solid #959aa6;
    width: 4%;
    font-size: 0;
    position: absolute;
    top: 72px;
}
/* OUR-INSURANCE */

/* RESPONSIVE */

@media  (max-width : 1000px) {
	.logo {
		display: none;
	}
	.home-box h5 {
		font-size: 49px;
		padding: 30px;
	}
	.mobile-logo {
		display: block;
	}
	.mobile-logo img {
		width: 55%;
		height: auto;
	}
	.container {
		width: 85%;
		padding: 0;
	}
	.top-menu ul {
		display: none !important;
	}
	.mobile-menu {
		display: flex;
		justify-content: flex-end;
	}
	.mobile-menu img {
		width: 13%;
	}
	.header-bottom h4 {
		font-size: 40px;
		font-weight: 700;
	}
	.header-bottom h1 {
		font-size: 79px;
	}
	.header-bottom li,
	.meet-hunter-li li {
		font-size: 37px;
	}
	.slider-content-li li,
	.meet-hunter-li li,
	.meet-hunter-li li {
		padding-left: 60px;
		line-height: 2.5;
		background-size: 35px;
	}
	.header-bottom button,
	.bg-pink .cards-parent button {
		width: 58%;
		margin-top: 20px;
		font-size: 31px;
		padding: 1.5rem!important;
	}
	.our-partners h4 {
		font-size: 38px;
		margin-bottom: 29px;
	}
	h4 {
		font-size: 40px;
	}
	h1 {
		font-size: 58px;
	}
	p {
		font-size: 45px !important;
	}
	.home-box {
		padding: 0 !important;
		margin: 30px 0;
	}
	.card p {
		line-height: 1.5;
		font-size: 30px !important;
	}
	.cards-parent .card {
		height: 826px;
		margin-bottom: 80px;
		display: flex;
		justify-content: flex-end;
	}
	.card-img-top {
		width: 70%;
		height: auto;
	}
	.card-body {
		max-height: 270px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		margin-bottom: 50px;
	}
	.card-bottom {
		padding: 43px 0;
		width: 104%;
		font-size: 42px;
		font-weight: 700;
	}
	.cards-parent .card h5 {
		font-size: 60px;
		margin-bottom: 40px;
	}
	.bg-pink .row {
		flex-direction: column-reverse;
	}
	.last-img {
		width: 50%;
	}
	.our-work .col-7,
	.qutote-page .col-6,
	.home-box,
	.our-work .col-8,
	.dedicated-section .col-7,
	.cards-parent .card,
	.bg-pink .col-6,
	footer .col-4,
	footer .col-3,
	footer .col-2,
	.header-bottom .col-6,
	.our-work .col-4 {
		max-width: 100%;
		flex: 0 0 100%;
	}
	.bg-pink .cards-parent h1 {
		font-size: 58px;
	}
	.bg-pink .cards-parent h4 {
		text-align: left;
	}
	.hunter-img {
		display: none;
	}
	.copy-right p {
		font-size: 23px !important;
	}
	.hunter-mobile-img {
		display: block;
	}
	.hunter-mobile-img {
		background-image: url(../images/meethunter-mobile-bg.svg);
		background-repeat: no-repeat;
		background-position: right bottom;
		background-size: 830px;
		padding-bottom: 219px;
	}
	.deskstop-partner-slider {
		display: none !important;
	}
	.mobile-partner-slider {
		display: block !important;
	}
	footer img {
		width: 60%;
		margin-bottom: 20px;
	}
	.inner-container {
		width: auto;
	}
	footer .col-4,
	footer .col-3,
	.footer col-2 {
		justify-content: center;
		display: flex;
	}
	.process-nav,
	.insurance-nav,
	.company-nav {
		width: 100%;
		text-align: center;
		padding: 40px 0;
		border-top: 1px solid #fff;
	}
	header {
		background-position: -1139px top;
	}
	footer h5 {
		font-size: 50px;
	}
	.card-img-top {
		margin-bottom: 70px;
	}
	footer a {
		font-size: 33px;
	}
	footer li {
		padding: 20px 0;
	}
	.section {
		background-image: none;
	}
	.bg-grey .testimonail-parent .testimonials-card {
		height: 656px;
		margin-bottom: 80px;
		display: flex;
		justify-content: flex-end;
	}
	.dedicated-section .card-img-top {
		margin-bottom: 0;
	}
	.first-li,
	.last-li {
		display: none;
	}
	header {
		background-image: url(../images/mobile-banner.svg);
		background-position: bottom;
		background-size: 990px;
	}
	.header-bottom {
		padding: 60px 0px 475px 0;
	}
	.our-partners {
		border-top: 1px solid #0C2242;
	}
	.mobile-partner-slider .carousel li {
		margin-right: 20px;
		padding: 15px 28px;
		width: 30%;
		border-radius: 11px;
	}
	.mobile-partner-slider .carousel li.pd-13-25 {
		padding: 30px 32px !important;
		border-radius: 9px;
	}
	.carousel li.first-li img,
	.carousel li.last-li img {
		width: 50px;
	}
	.carousel li.first-li {
		left: -99px;
	}
	li.last-li {
		right: -121px;
	}
	.desktop-h4 {
		display: none;
	}
	.mobile-h4 {
		display: block;
		font-weight: 600;
		letter-spacing: 7px;
		line-height: 1.5;
	}
	span.sperater-grey,span.sperater-grey-small {
		border-top: 7.5px solid #b1bbc4 !important;
		font-size: 0;
		padding: 0px 60px;
	}
	.home-box-mobile-h1 {
		font-size: 62px;
		padding: 0 !important;
		width: 100%;
		padding-bottom: 20px !important;
	}
	p.work-paragraph {
		color: #474646;
		font-size: 42px !important;
		padding-top: 12px;
	}
	.home-box p {
		width: 95%;
		color: #474646;
		font-size: 42px !important;
	}
	.home-box {
		padding: 20px 10px !important;
	}
	.mobile-pd {
		padding: 60px 30px !important;
		background-color: #dfe1e287;
		border-radius: 160px;
	}
	.home-box-parent {
		padding: 0 !important;
	}
	.mobile-pd h5 {
		padding-bottom: 10px;
	}
	.home-box p {
		font-size: 39px !important;
	}
	.our-work {
        background-image: url(../images/work-mobile-bg.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .dedicated-section .card{
        height: 910px;
    }
    .dedicated-section .card-img-top{
        margin-bottom: 69px;
    }
    .dedicated-section .card-text {
        width: 535px;
    }    
    footer img{
        width: 69%;
    }
    .dots img {
        width: 100%;
    }
    
    
}


/* RESPONSIVE */